
::-webkit-scrollbar {
    display: none;
}


    @media (max-width:540px) {
        .container .content-body {
            flex-direction: column;
        }
    }

h1 {
    font-size: 42px;
    color: #6E6EDC;
    font-family: 'Segoe UI';
}
h2 {
    display: inline;
    font-size: 42px;
    color: #6E6EDC;
    font-family: "Sofia", sans-serif;
}

iframe {
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-left:10px;
    margin-right:10px;
    
}

p {
    direction: rtl;
    text-align: right;
    display: block;
    margin-right: 50px;
    font-family: 'Segoe UI';
    font-size: 21px;
    color: #e5e1e1cc;
}
pre {
    direction: rtl;
    text-align: right;
    display: flex;
    font-size: 21px;
    font-family: 'Segoe UI';
    color: #e5e1e1cc;
}
body {
    margin: unset;
    text-align: right;
    direction: rtl;  
}
/*background image*/
.bimg {
    width: 100%;
    height: 100%;
    background-image: url(bimg.jpg);
}
/*flexy boi*/
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    text-align: center;
    
}

        .header {
        flex: 0 0 100px;
        z-index:0;
        
    }
        .header2 {
        flex: 0 0 50px;
        background-color: black;
    }

        
    

.content-body {
    display: flex;
    flex-direction: row;
    flex: 3;
    font-family: 'Segoe UI';
    

    
}
/*form*/
.input {
    height: 32px;
    margin-right: 5px;
    border-color: #6E6EDC;
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI';
}
.textarea {
    margin-right: 5px;
    border-color: #6E6EDC;
    background-color: transparent;
    color: white;
    resize: none;
    width: 489px;
    height: 160px;
    font-size: 21px;
    font-family: 'Segoe UI';
}

textarea::placeholder {
    font-size: 21px;
    font-family: 'Segoe UI';
}
/*submit button*/
.button {
    background-color: white;
    border: solid 1px;
    border-color: black;
    color: #444;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
    font-family: 'Segoe UI';
    cursor: pointer;
}
    .button:hover {
        transition: 0.5s;
        background-color: transparent;
        color: #6E6EDC;
        border-color: #6E6EDC;
    }
          
/*gallery*/

table.tbc {
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    
}
.tbimg {
    filter: brightness(50%);
    width: 350px;
    height: 350px;
    transition: transform .2s;
    position: relative;
    z-index:3;
    
   
}


        .tbimg:hover {
        
        transform: scale(150%);
        filter: brightness(100%);
        z-index: 4;
        box-shadow: 0px 0px 20px #fff;
        
       

       
    }
/*list item*/

ol {
    font-weight: 700;
    font-family: 'Segoe UI';
    color: #e5e1e1cc;
}
li {
    color: snow;
    font-family: 'Segoe UI';
    color: #e5e1e1cc;
}
/*logo*/
.logo {
    width: 167px;
    z-index:1
}
/*tool bar on top-->*/
.nav {font-weight:500;
      width:100%;
      margin: 0 auto;
      float:right;
      
}
    .nav ul {
        list-style: none;
        margin:0;
        padding:0; 
    }
    nav li {display:inline-block;
            margin-right:1%;
            padding-top:0.5%;    
    }
    nav a {color:white;
           text-decoration:none
    }
        nav a:hover {
            color: #6E6EDC;
        }



        